.ui-corner-all{      /*texto dentro de text area*/
    background: #ffffff;
    color: black;
    font-family: calibri, arial;
}

.ui-fileupload-buttonbar {    /*barra de botões - header */
    border: 1px solid #368abc;
    background: #e5f0f8;
    align-content: center;
}


.ui-inputtextarea-resizable{    /*text area */
    width: 99.3%;
    height: 400px;
}


.ui-widget-content{ /*barra abaixo de header - exibe arquivos */
    
    border: 1px solid #368abc;
    background: f6f9fa;
    color: #4f4f4f;
    text-shadow: black;
}

.ui-fileupload-row{ /*Estilização do texto dentro da barra do header */
    color: black;
    background-color: #e5f0f8;
}

.ui-button .ui-button-text{ /*Cores do botão */
    color: #4c8db9;
}

